.component {
  font-size: 1.25rem;
}

.input {
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.input_button {
  font-size: 1.25rem;
}

.todo {
  color: blue;
}

.li {
  margin: 0.25rem 0;
  list-style-type: decimal;
}
